<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gem Whole Sale Updates</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css')}}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/dataTables.bootstrap4.min.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.bootstrap4.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-md-12">
           <center><h2>GEM WHole Sale Bot</h2></center>
        </div>
        <div class="col-md-12 table-responsive">


            <table id="myTable" class="table table-striped " style="width:100%" >
                <thead>
                <tr>
                    <th>Buy</th>
                    <th>Title</th>
                    <th>Image</th>
                    <th>Cost Price</th>
                    <th>Catalogue Value</th>
                    <th>Sold At</th>
                    <th>Stock List</th>
                    <th>New</th>
                    <th>Parent Page</th>
                    <th>Stock Link</th>
                    <th>Created At</th>
                    <th>Updated At</th>
                </tr>
                </thead>
<!--                <tbody>-->

<!--                    {% for listing in data %}-->
<!--                    <tr>-->
<!--                        <td>{{listing.title}}</td>-->
<!--                        <td><img src="{{listing.image_url}}" class="w-100"/></td>-->
<!--                        <td>{{listing.cost_price}}</td>-->
<!--                        <td>{{listing.catalogue_value}}</td>-->
<!--                        <td>{{listing.sold_at}}</td>-->
<!--                        <td><a href="{{listing.stock_list}}" target="_blank">Stock List</a> </td>-->
<!--                        <td>{{listing.new}}</td>-->
<!--                        <td><a href="{{listing.parent_page}}" target="_blank">Parent Page</a> </td>-->
<!--                        <td><a href="{{listing.stock_link}}" target="_blank">Stock Link </a> </td>-->
<!--                        <td>{{listing.created_at}}</td>-->
<!--                        <td>{{listing.updated_at}}</td>-->
<!--                    </tr>-->
<!--                    {% endfor %}-->
<!--                </tbody>-->
            </table>

        </div>
    </div>

</div>
<script type=text/javascript>
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>
<script type="application/javascript" src="{{ url_for('static', filename='js/jquery-3.5.1.js') }}"></script>
<script type="application/javascript" src="{{ url_for('static', filename='js/jquery.dataTables.min.js') }}"></script>
<script type="application/javascript" src="{{ url_for('static', filename='js/dataTables.bootstrap4.min.js')}}"></script>
<script type="application/javascript" src="{{ url_for('static', filename='js/dataTables.responsive.min.js') }}"></script>
<script type="application/javascript" src="{{ url_for('static', filename='js/responsive.bootstrap4.min.js') }}"></script>
<script type="application/javascript" src="{{ url_for('static', filename='js/custom.js') }}"></script>
</body>
</html>